
.brandn {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  padding: 0 ;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}


.brandlogo {
  height: 86px;
  width: auto;
}




:host {
  --content-padding: 10px;
}
header {
  display: block;
  height: 60px;
  padding: var(--content-padding);
  box-shadow: 0px 5px 25px var(--shadow-color);
}
.content {
  padding: var(--content-padding);
}


